@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d8d8d8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800'%3E%3Cdefs%3E%3Cpattern id='a' width='40' height='40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Cpath transform='matrix(.872 .4895 -.872 .4895 20 5.438)' fill='hsl(212, 91%25, 55%25)' d='M0 0h11.364v11.364H0z'/%3E%3Cpath transform='matrix(.872 .4895 0 1 10.09 11)' fill='%2370b4ff' d='M0 0h11.364v18H0z'/%3E%3Cpath transform='matrix(.872 -.4895 0 1 20 16.563)' fill='%230059c1' d='M0 0h11.364v18H0z'/%3E%3C/pattern%3E%3C/defs%3E%3Cpath fill='url(%23a)' d='M0 0h800v800H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}